html,
body {
  font-family: "roboto", arial, sans-serif;
  height: 400px;
  width: 600px;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

// ------------------------
// VARIABLES
// ------------------------

// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// COLORS

$primary: #d33f49;
$primary-2: #dc656d;
$secondary: #40798c;
$secondary-2: #6694a3;
$tertiary: #ffb20f;
$tertiary-2: #ffc13f;
$white: #f0f7f4;
$black: #262730;

$gray-000: #f8f9fa;
$gray-100: #f1f3f5;
$gray-300: #dee2e6;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;

// font weight

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;

// border radius

// 0.8rem
// 0.4rem

// ------------------------
// GLOBAL
// ------------------------

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $black;
}

a {
  color: $white;
  text-decoration: none;
  font-weight: $fw-bold;
  text-transform: uppercase;
  color: $black;
}

// ------------------------
// Styles
// ------------------------

.extensionContainer {
  height: 100%;
  background-color: $gray-100;

  &__wrapper {
    display: grid;
    grid-template-columns: 9.6rem 1fr;
    height: 100%;
  }

  // nav

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__navAnchor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;

    background-color: $gray-300;
    transition: background-color 0.3s, color 0.3s;
    &.active {
      color: $white;
    }
    &:hover {
      color: $white;
    }
    &--1 {
    }
    &--2 {
    }
    &--3 {
    }
  }

  // main

  &__main {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__inputContainer {
    margin-bottom: 1.6rem;
    display: flex;
    gap: 1.2rem;
    align-items: stretch;
  }

  &__filter {
    display: block;
    width: 100%;
    padding: 0.8rem;
    border: $gray-300 0.4rem solid;
    border-radius: 0.4rem;
  }

  &__category {
    display: block;
    width: 100%;
    padding: 0.8rem;
    border: $gray-300 0.4rem solid;
    border-radius: 0.4rem;
  }

  &__colorPicker {
    display: block;
    height: 100%;
    border: none;
    border-radius: 0.3rem;
    min-width: 4.1rem;
    width: 4.1rem;
  }

  &__optionsContainer {
    position: relative;
    height: 100%;
    margin-bottom: 2.4rem;
    background-color: $gray-000;
    overflow-y: scroll;
    height: 18.5rem;
  }

  &__optionItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.6rem;
    border-bottom: $gray-300 0.2rem solid;
    gap: 1.2rem;
    height: 4.2rem;

    cursor: pointer;
    &:hover {
      background-color: #fff;
      & .extensionContainer__descriptionIcon {
        display: flex;
      }
      & .extensionContainer__favoriteIcon {
        display: block;
      }
    }
    &.favorite {
      & .extensionContainer__favoriteIcon {
        display: block;
        fill: $tertiary;
        stroke: $tertiary;
      }
    }
  }

  &__optionTitle,
  &__optionTitleNoFound {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: $gray-800;
  }
  &__optionTitleNoFound {
    color: $gray-600;
  }
  &__optionsNoFound {
    height: 18.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__descriptionIcon {
    display: none;
    margin-left: auto;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    border: $gray-800 0.1rem solid;
    border-radius: 100000rem;
    width: 2rem;
    height: 2rem;
    color: $gray-800;

    &:hover {
      color: $secondary;
      border-color: $secondary;

      & .extensionContainer__popUpDescription {
        display: block;
      }
    }
  }

  &__popUpDescription {
    display: none;
    position: absolute;
    top: 49%;
    left: 69%;

    background-color: rgba(#dee2e6, $alpha: 0.5);
    backdrop-filter: blur(2px);
    border-radius: 0.4rem;
    width: 20rem;
    padding: 1.6rem;
    transform: translate(-50%, -50%);

    box-shadow: 0px 0px 7px rgba($color: #000000, $alpha: 0.5);
  }

  &__popUpTitle {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
  }

  &__popUpBody {
    margin-bottom: 0.8rem;
    height: 7rem;
    overflow-y: auto;
    padding-right: 1.2rem;
  }

  &__popUpCategory {
  }

  &__favoriteIcon {
    display: none;
    width: 2rem;
    &:hover {
      stroke: #ffb20f;
    }
  }

  &__btnSubmit {
    border: none;
    color: $white;
    border-radius: 0.3rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: $fw-bold;

    &--1 {
      background-image: linear-gradient(-45deg, $primary, $primary-2);
    }
    &--2 {
      background-image: linear-gradient(-45deg, $secondary, $secondary-2);
    }
    &--3 {
      background-image: linear-gradient(-45deg, $tertiary, $tertiary-2);
    }
  }
}
